body {
    background-color: #121212;
    color: #E0E0E0;
}

.chat-container {
    max-height: 500px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.amalgam-container {
    background-color: #2d2d2d;
    color: #f8f8f2;
    font-family: monospace;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    white-space: pre-wrap;
    overflow-x: auto;
    font-size: small;
}

.chat-text-input {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.clickable {
    cursor: pointer;
}
